table td, table th{
	border: 1px solid #000;
	text-align: center;
}
table{
	width: 100%;
}
h1, label, .btn{
	font-weight: bold;
}
body{
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
}